@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Playfair+Display:wght@700&display=swap');

/* Define global font usage */
body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .midas-touch {
  font-family: 'Playfair Display', serif;
}

.content-section {
  font-family: 'Lato', sans-serif;
}

:root {
  --raisin-black: hsla(220, 27%, 13%, 1);
  --paynes-gray: hsla(204, 30%, 32%, 1);
  --earth-yellow: hsla(36, 54%, 63%, 1);
  --paynes-gray-2: hsla(198, 24%, 42%, 1);
  --battleship-gray: hsla(60, 4%, 54%, 1);
  --battleship-gray-transparent: hsla(60, 4%, 54%, .8);
  --ash-gray: hsla(84, 5%, 82%, 1);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  padding-top: 64px; /* Make space for fixed AppBar */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
